@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme('colors.atomic-tangerine');
  --background-start-rgb: theme('colors.garnet');
  --background-color: theme('colors.black');
  --foreground-rgb: theme('colors.atomic-tangerine');
  --background-start-rgb: theme('colors.garnet');
  --background-color: theme('colors.black');
  --navbar-height: 70px;
}

@layer base {
  body,
  main {
    @apply text-base;
    @apply text-black;
    background-color: var(--background-color);
    min-height: calc(100vh - var(--navbar-height));
  }

  nav {
    @apply fixed;
    @apply top-0;
    @apply z-10;
    height: var(--navbar-height);
  }

  main {
    margin-top: var(--navbar-height);
    @apply box-content;
    @apply relative;
    @apply block;
    @apply h-full;
  }

  section {
    @apply text-ivory;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply h-full;
  }

  h1 {
    @apply py-2;
    @apply font-medium;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply lg:text-4xl;
  }

  h2 {
    @apply py-2;
    @apply text-xl;
    @apply md:text-2xl;
    @apply lg:text-3xl;
    @apply font-bold;
  }

  h3 {
    @apply text-md;
    @apply py-2;
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply font-semibold;
  }

  h4 {
    @apply py-2;
    @apply text-base;
    @apply lg:text-xl;
    @apply font-bold;
  }

  h5 {
    @apply py-2;
    @apply text-xl;
    @apply font-bold;
  }

  h6 {
    @apply py-2;
    @apply text-md;
    @apply font-bold;
  }

  p,
  a {
    @apply py-1;
    @apply text-sm;
    @apply sm:text-base;
    @apply font-normal;
  }
  a:active {
    @apply text-bittersweet;
    @apply fill-bittersweet;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .inputBox {
    @apply flex flex-row w-full items-center px-4 py-1 bg-white border border-garnet rounded-lg justify-between;
  }

  .btn-primary {
    @apply bg-garnet font-normal text-ivory text-sm sm:text-base lg:text-md tracking-widest lg:font-semibold py-2 px-4 hover:bg-atomic-tangerine hover:text-garnet;
  }

  .btn-secondary {
    @apply bg-bittersweet font-normal text-white text-sm sm:text-base lg:text-md tracking-widest lg:font-semibold py-2 px-4 hover:bg-sunglow hover:text-garnet;
  }

  .btn {
    @apply py-3 px-5 rounded-xl cursor-pointer;
  }

  .btn-pill {
    @apply p-2 m-1 max-w-fit bg-garnet rounded-full cursor-pointer font-bold;
    &:hover {
      @apply bg-atomic-tangerine;
      & > svg {
        @apply fill-garnet;
      }
    }

    & > svg {
      @apply fill-ivory;
    }
  }
}

/* TODO: add differetn styles for different buttons */
