.dataTable {
  border: none;
  @apply text-base;
  @apply font-poppins;
  @apply font-normal;
  background-color: theme('colors.ivory');
  /* width: fit-content; */
  height: 100%;

  & * {
    @apply text-base;
    @apply font-poppins;
    @apply font-normal;
    justify-content: space-between;
  }
}
